<div style="padding: 50px;width: 100%;background-color: #f2f3f5;text-align: center;box-sizing: border-box">
    <h2>
        apt environment monitoring
    </h2>
    <div style="background-color: #ffffff;width: 500px;padding: 4em;margin: 0 auto;border-radius: 10px;text-align: left">
        <p style="margin-bottom: 1em">
            your verification code
        </p>
        <p style="margin-bottom: 1em;font-size: 2em;color:#C7254E;text-align: center">
            {$code}
        </p>
        <p>
            The verification code is valid within 5 minutes, please do not disclose it to others!
        </p>
    </div>
</div>